.loginSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.loginFrom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f5f5f5;
}

.loginFrom input {
    width: 20%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 1rem;
}

.submitButton{
    width: 20%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 1rem;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 1rem;
}